.nav {
    height: 50px;
    background: maroon;
    font-family: 'Sedgwick Ave Display', cursive;
}
.nav div {
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 15px;
    font-size: 20px;
    color: rgb(233, 213, 178);
}
.nav ul {
    position: absolute;
    right: 5px;
}
.nav ul li {
    display: inline-block;
}
.nav ul li a {
    color: rgb(233, 213, 178);
    padding: 5px;
}
body {
    background: url("oldnotebook.jpg");
    background-size: cover;
    height: 100vh;
}
.about-content {
    margin: 150px auto 0 auto;
    width: 500px;
}
.about-content h1 {
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
    color: maroon;
}
.about-content p {
text-align: justify;
font-family: 'Sedgwick Ave Display';
font-size: larger;
opacity: 0.8;
}

.section {
    border-color: white;
    border-width: 5px;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 30px;
    color: maroon;
    text-align: center;
    padding: 5px;
}


.card {

    inline-size: auto; /* might need to use gird to center properly*/
    overflow: hidden;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    margin: 10px;
    background-image: url(./yellowline4.jpg); /* adds image to card*/
    background-position: right;
}

.card-text {
    color: blue;
}



.card-deck { 
    display: inline-block;
    position: absolute;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;    
    align-items: flex-start; /* this makes everything in the card deck align at the bottom */
}

.card-img-top {
    
    background-color: maroon;
    /*background-image: url(./space4.jpg); / tiny image on card. maybe use icon*/
    

}

.card-columns {
    display: inline-block;
    


}

.card-title {
    font-size: larger;


}

.card-footer {
    /*right here
    color: rgb(233,213,178); /* changes color of text when it was last updated*/
    color:rgb(233, 213, 178);
    background: maroon;
        
}

/*article is for everything under shit post */
article {
    text-align: center;
    padding: 5px;

}

/*.card-body {
  color: maroon;
} 
*/