body {
    background-color: maroon;
    font-family: Cambria, Cochin, serif, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1, h2, h3 {
    margin: 0;
}

#container {
    background-image: url("yellowline.jpg");
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: auto;
}

#header {
    background-image: url("yellowline.jpg");
    color: rgb(0, 0, 0);
    font-style: italic;
    text-align: center;
}

#content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav {
    width: 180px;
    float: left;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#nav .selected {
    font-weight: bold;
}

#main {
    width: 600px;
    float: right;
}

#footer {
    clear:both;
    padding: 10px;
    background-color: #999;
    color: white;
    text-align: right;
}

#buttons {

    background-color:maroon;
    background-image: url("yellowline.jpg");
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    text-align: center;
}

.btn {

    font-weight: bold;
    color: rgb(250, 250, 250);
    background-image: url("space3.jpg");
    border-style: dashed;
    border-color: lightgray; 
    border-width: 1.5px;
    padding-bottom: 5px;
}
