body {
    background-color: maroon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black; 
}

a {
    text-decoration: none;
    color: rgb(233, 213, 178); 
}

h1, h2, h3 {
    margin: 0;
}

#container {
    background-image: url(./diary/oldnotebook.jpg);
    position: auto;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: auto;
}

#header {
    background-color: maroon;
    color: rgb(233,213,178);
    font-family:'Sedgwick Ave Display', cursive;
    text-align: center;
    font-size: x-large;
}

#content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav {
    width: 180px;
    float: left;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#main {
    width: 600px;
    float: right;
}

#footer {
    clear:both;
    padding: 10px;
    background-color: maroon;
    color: rgb(233, 213, 178);
    text-align: right;
}

#buttons {
    background-color: maroon;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    text-align: center;
}


.btn { 
    
    font-weight: bold;
    color: rgb(233, 213, 178);
    background-color: black;
    border-style: dashed;
    border-color: rgb(233,213,178); 
    border-width: 2px;
    padding-bottom: auto;
    margin: 1px;
}

.btn-group-vertical {
    font-family: ;
    margin: 5px;

}


.btn-group {
    color:rgb(233,213,178)
    
}

