body {
    
    margin: auto;
    padding: 5%; /* makes it so the marron in the background shows. Different from the grid */ 
    background-color: maroon;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white; 

}


.grid-container {

    display: grid; /* This will show what you named your items in grid when testing on web */ 
    grid-template-columns: 200px, 250px;
    grid-auto-rows: minmax(250px, auto);
    border-style: solid;
    border-width: 10px;
    border-color: burlywood;
    grid-gap: 25px;
    color: white;
    background-color: steelblue;    

    grid-template-areas: 
    "header header header"
    "reddit twitter github" 
    "reddit twitter github"
    "reddit twitter github"
    "footer footer footer"
}


.grid-item {
    display: grid;
    border: groove wheat 15px;
    padding: 10px;    
    
}

.grid-item-1 {

    grid-area: header;

    /*
    grid-template-columns: 200px, 100px;
    grid-template-rows: 10px;
    grid-row-start: -1;
    grid-row-end: 1;
    grid-column-start: -1;
    grid-column-end: 1;
    color:orange;
    border-style: dotted;
    border-width: 10px;
    
*/
}

.grid-item-2 {

    grid-area: reddit;

    /* grid-template-columns: 20px, 100px;
    grid-template-rows: 10px;
    color:orange;
    border-style: solid;
    border-width: 10px;
    */

}

.grid-item-3 {
    
 grid-area: twitter;
 
 /*
  grid-row-start: 2;
  grid-row-end: 4;  
 */
}

.grid-item-4 {

    grid-area: github;

}

.grid-item-5 {

    grid-area: footer;

    /*
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr;
    background-color: olive;
    */
 

}
