body {

    margin:auto;
    padding: 5%; /* makes it so the marron in the background shows. Different from the grid */ 
    background-color: maroon;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white; 


}



.grid-container {

    height: 750px;
    width: 500px;
    display: grid; /* This will show what you named your items in grid when testing on web */ 
    border-style: solid;
    border-width: 10px;
    border-color: burlywood;
    padding: 10%; 
    gap: 25px;
    grid-template-columns: 200px, 100px;
    grid-template-rows: 200px, 100px;
    color: white;
    background-color: steelblue;
    
}


.grid-item {
    display: grid;
    border: groove wheat 15px;
    padding: 10px;    
    
}

.grid-item-header {
    color:orange;
    

}



/* .grid-item-footer: {
    border: 10px;
    border-color: darkgoldenrod;
    align-items: start;
     height: 1000px;
     width: 10px;
}*/